<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive photo gallery.">
<link href="../static/Flat-UI-master/images/favicon.ico" rel="shortcut icon"></link>
    <title>EVA</title>

       <link rel="stylesheet" href="../static/css/pure-min.css">
	<link rel="stylesheet" href="../static/css/gallery.css">
	<link href="../static/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/Flat-UI-master/bootstrap/css/prettify.css" rel="stylesheet">
	<link href="../static/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
	<link href="../static/Flat-UI-master/css/docs.css" rel="stylesheet">

</head>
<body>

<div>
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">SHOW</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    
        <div class="pure-u-1 form-box">
            <div class="l-box">
                <h2>Submit user information</h2>      
                <form class="pure-form" method ="Post">
                    <input type="text" name ="email" id="name" placeholder="User Name/Email " required>
                                <label class="login-field-icon fui-mail" for="email"></label>
                    <input type="text" name ="password" id="password" placeholder="User password" type="password">
                                <label class="login-field-icon fui-lock" for="password"></label>
                    <div>
                         <button type="submit" class="pure-button">Login</button>
			      <button type="submit" class="pure-button" onClick="window.location.href='/register'">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>
</div>

</body>
</html>
