<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link href="static/css/metro-bootstrap.css" rel="stylesheet">
    <link href="static/css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/docs.css" rel="stylesheet">
    <link href="static/js/prettify/prettify.css" rel="stylesheet">

    <!-- Load JavaScript Libraries -->
    <script src="static/js/jquery/jquery.min.js"></script>
    <script src="static/js/jquery/jquery.widget.min.js"></script>
    <script src="static/js/jquery/jquery.mousewheel.js"></script>
    <script src="static/js/prettify/prettify.js"></script>
    <script src="static/js/holder/holder.js"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="static/js/load-metro.js"></script>

    <!-- Local JavaScript -->
    <script src="static/js/docs.js"></script>
    <script src="static/js/github.info.js"></script>

    <title>{{.title}}</title>
</head>
<body class="metro"  style="background: url(static/img/sample.jpg)">
    <!--<header class="bg-dark" data-load="static/header.html"></header>-->

    <div class="page">
        <div class="page-region">
            <div class="page-region-content">
                <h1>
                    <a href="/"><i class="icon-arrow-right-3 fg-blue smaller"></i></a>
                    Start<small class="on-right"></small>
                </h1>
                <p>Here is the new world !</p>
		
        <form>
            <div class="grid">
                <div class="row">
                    <div class="span10">
                        <table class="table striped">
                            <tbody><tr>
                                <td class="span4 text-right" style="vertical-align:middle"><strong>UserName:</strong></td>
                                <td>
                                    <div data-role="input-control" class="input-control text nbm">
                                        <input value="" type="text">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span4 text-right" style="vertical-align:middle"><strong>Password:</strong></td>
                                <td>
                                    <div class="input-control password nbm" data-role="input-control">
                                        <input type="password">
                                        <button class="btn-reveal" tabindex="-1" type="button"></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span4 text-right" style="vertical-align:middle"></td>
                                <td>
                                    <div class="input-control checkbox" data-role="input-control">
                                            <input checked="" type="checkbox">
                                            <span class="check"></span>
                                            Remember me
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="span4 text-right" style="vertical-align:middle"></td>
                                <td>
                                    <input class="inverse" value="Enter" type="submit">
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
            </div>
        </form>
    
    </div>

    <!--<script src="static/js/hitua.js"></script>-->

</body>
</html>