<!DOCTYPE html>
<html>
<head>
       <meta charset="utf-8">
       <link rel="stylesheet" href="../static/css/pure-min.css">
	<link rel="stylesheet" href="../static/css/gallery.css">
	<link href="../static/Flat-UI-master/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/Flat-UI-master/bootstrap/css/prettify.css" rel="stylesheet">
	<link href="../static/Flat-UI-master/css/flat-ui.css" rel="stylesheet">
	<link href="../static/Flat-UI-master/css/docs.css" rel="stylesheet">
    <title>{{.title}}</title>
</head>
<body >
<div class="container">

          
        <div class="my-login-screen">

          <div class="login-form">
            <div class="form-group">
              <input class="form-control login-field" value="" placeholder="Enter your name" id="name" type="text">
              <label class="login-field-icon fui-user" for="name"></label>
            </div>
           <div class="form-group">
              <input class="form-control login-field" value="" placeholder="Enter your email" id="email" type="text">
              <label class="login-field-icon fui-mail" for="email"></label>
            </div>
            <div class="form-group">
              <input class="form-control login-field" value="" placeholder="Password" id="password" type="password">
              <label class="login-field-icon fui-lock" for="Password"></label>
            </div>
           <div class="form-group">
              <input class="form-control login-field" value="" placeholder="Passwordre" id="Passwordre" type="password">
              <label class="login-field-icon fui-lock" for="Passwordre"></label>
            </div>
		     <button type="submit" class="pure-button" method="Post" >Register</button>
          </div>
        </div>
      
</div>       
</body>
</html>
