<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive photo gallery.">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="static/css/pure.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/gallery-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="static/css/layouts/gallery-grid.css">
    <!--<![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/css/layouts/gallery-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="static/css/layouts/gallery.css">
    <!--<![endif]-->

</head>
<body >
<div>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="#">主页</a></li>
            <li class="pure-menu-selected"><a href="#">Flickr</a></li>
            <li><a href="#">Messenger</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Finance</a></li>
        </ul>
    </div>
    <div class="photo-box photo-box-thin pure-u-1 pure-u-med-4-3">
        <a href="http://ngkhanhlinh.dunked.com/">
            <img src="http://24.media.tumblr.com/c35afcc83e18ea7875160f64c039f471/tumblr_mwhdohfePJ1st5lhmo1_1280.jpg"
                 alt="Balloons">
        </a>

        <aside class="photo-box-caption">
                <span>
                    by <a href="http://ngkhanhlinh.dunked.com/">Linh Nguyen</a>
                </span>
        </aside>
    </div>
   <div class="pure-u-1 form-box">
        <div class="l-box">

            <form id="RegisterForm" class="pure-form pure-form-aligned" method="Post" action="/register">
                    <div class="pure-control-group">
                        <label for="name">用户名</label>
                        <input name="name" type="text" placeholder="请输入用户名" required>
                    </div>


                    <div class="pure-control-group">
                        <label for="email">邮箱</label>
                        <input name="email" type="email" placeholder="请输入邮箱" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="password">密码</label>
                        <input name="password" type="password" placeholder="请输入密码" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="passwordre">密码</label>
                        <input name="passwordre" type="password" placeholder="请重复输入密码." required>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">提交</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    EVAer.
</div>
</body>
</html>